<nb-card>
  <nb-card-header>Experiment</nb-card-header>
  <nb-card-body>
    <form [formGroup]="expForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="expName">Experiment name</label>
        <input type="text" class="form-control" id="expName" formControlName="expName">
      </div>
      <div class="form-group">
        <label for="dateStart">Start date</label>
        <input id="dateStart" class="form-control" nbInput placeholder="Start" formControlName="dateStart"
          [nbDatepicker]="startPicker">
        <nb-datepicker #startPicker></nb-datepicker>
      </div>
      <div class="form-group">
        <label for="dateEnd">End date</label>
        <input id="dateEnd" class="form-control" nbInput placeholder="End" formControlName="dateEnd"
          [nbDatepicker]="endpicker">
        <nb-datepicker #endpicker></nb-datepicker>
      </div>
      <div class="form-group">
        <label for="contactPerson">Contact person</label>
        <input type="text" class="form-control" id="contactPerson" formControlName="contactPerson">
      </div>
      <div class="form-group">
        <label for="mailAddress">e-mail</label>
        <input type="email" class="form-control" id="mailAddress" formControlName="mailAddress">
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea rows="5" nbInput fullWidth id="comment" formControlName="comment"></textarea>
      </div>
      <button type="submit" class="btn btn-danger">Submit</button>
    </form>
  </nb-card-body>
</nb-card>

<p>
  Form Value: {{ expForm.value | json }}
</p>
